@inject ICartService CartService

<div class="cart-display-wrapper">
    <a href="/cart">
        <i class="oi oi-cart"></i>
        @if (Items.Count > 0) {
            <p class="cart-item-count">@Items.Count</p>
        }
    </a>
</div>