.cart {
    display: flex;
    border: 2px solid white;
    border-radius: 2rem;
    overflow: hidden;
}

.cart-item-listings {
    flex-basis: 75%;
    padding: 2rem;
}

.cart-item-listing {
    display: flex;
    width: 100%;
}

.cart-item-details {
    position: relative;
    width: 100%;
}

.cart-item-listing:nth-last-of-type(n+2) {
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.cart-totals {
    flex-basis: 25%;
    background-color: var(--color-secondary);
    font-weight: bold;
    font-size: 1.5rem;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.cart-item-price {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: right;
}

.cart-item-quantity {
    text-align: right;
    font-size: 1.5rem;
}

.cart-item-btn-remove {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}