@inject ICartService CartService

@page "/cart"

<section class="container">
    <h1>Your Cart</h1>

    @if (CartItems.Count == 0)
    {
        <p>Loading your cart...</p>
    }
    else
    {
        <div class="cart">
            <div class="cart-item-listings">
            @foreach (var item in CartItems)
            {
                <div class="cart-item-listing">
                    <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="cart-item-img"/>
                    <div class="cart-item-details">
                        <h2>@item.Product.Name</h2>
                        <p class="cart-item-price">@item.Product.Price</p>
                    </div>
                </div>
                }
            </div>
            <div class="cart-totals">
                <p><span class="cart-total-price">$@TotalPrice</span></p>
            </div>
        </div>

    }
</section>


