@page "/product/{ProductId:int}"
@inject IProductService ProductService

<div class="container">
    @if (Product is null)
    {
        <p>Loading product info...</p>
    }
    else
    {
        <img src="@Product.ImageUrl" />
        <h3>@Product.Name</h3>
        <p>@Product.Description</p>
        <h4>$@Product.Price</h4>
        <AddToCartButton Product=@Product />
    }
</div>

@code {
    public Product? Product { get; set; } = null;

    [Parameter]
    public int ProductId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var result = await ProductService.GetProductById(ProductId);
        Product = result;
    }
}