.product-listing {
    display: flex;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.product-listing:hover {
    background-color: rgba(151, 153, 219, 0.4);
}

.product-listing:not(:last-of-type) {
    margin-bottom: 2rem;
}

.product-img {
    height: 200px;
    width: 200px;
}

.product-info {
    margin-left: 1rem;
}

.product-name {
    font-weight: 600;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
}