<section class="hero-product">
    <img src="@ImageUrl" class="hero-product__img" alt="" />
    <div class="hero-product__text-container">
        <h2 class="hero-product__heading">@ProductName</h2>
        <p class="hero-product__text">@Description</p>
    </div>
    <p class="hero-product__price">$@Price</p>
</section>