.shop-nav {
    width: 100vw;
    background-color: rgba(151, 153, 219, 0.4);
    padding: 1rem;
    font-size: 1.5rem;
    height: 4.5rem;
}

.shop-nav .nav {
    display: flex;
    justify-content: space-evenly;
}

.shop-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color 0.4s;
}

.shop-nav-link:hover {
    color: orange;
}