@inject ICategoryService CategoryService

<nav class="shop-nav">
    <ul class="nav">
        <li><a href="/" class="shop-nav-link">Home</a></li>
        @foreach (var category in Categories)
        {
            <li>
                <a class="shop-nav-link" href="@category.Url">@category.Name</a>
            </li>
        }
    </ul>
</nav>
